html {
  font-family: "Open Sans SemiBold", serif;
}

body .field {
  background-color: white;
  width: 100vw;
}
body header .divMenu {
  background-color: #4d4d4d;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  width: 100vw;
  height: 90px;
  display: flex;
}
body header .divMenu .image {
  margin-top: 12px;
  margin-left: 10%;
  width: 200px;
  height: 200px;
}
body header .divMenu .image .logo {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
body header .divMenu .menu {
  list-style: none;
  padding: 0;
  height: 90px;
  top: 25px;
}
body header .divMenu .menu .login {
  font-family: "Open Sans SemiBold", serif;
  top: 25px;
  position: absolute;
  right: 10%;
  display: block;
  text-decoration: none;
  color: white;
  size: 50px;
}
body header .divMenu2 {
  background-color: #91B100;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -8px;
  margin-right: -8px;
  width: 100vw;
  height: 45px;
  text-align: center;
}
body header .divMenu2 .menu2 {
  width: 100vw;
  list-style: inside;
  padding: 0;
  display: inline-block;
  text-align: center;
}
body header .divMenu2 .menu2 li {
  list-style: none;
}
body header .divMenu2 .menu2 li .clubs {
  font-family: "Open Sans SemiBold", serif;
  top: 90px;
  position: absolute;
  display: block;
  margin-left: 31%;
  text-align: center;
  text-decoration: none;
  color: white;
  size: 50px;
}
body header .divMenu2 .menu2 li .who {
  font-family: "Open Sans SemiBold", serif;
  position: absolute;
  top: 90px;
  display: block;
  margin-left: 40%;
  text-align: center;
  text-decoration: none;
  color: white;
  size: 50px;
}
body header .divMenu2 .menu2 li .where {
  font-family: "Open Sans SemiBold", serif;
  position: absolute;
  top: 90px;
  display: block;
  margin-left: 47%;
  text-align: center;
  text-decoration: none;
  color: white;
  size: 50px;
}
body header .divMenu2 .menu2 li .idk {
  font-family: "Open Sans SemiBold", serif;
  position: absolute;
  top: 90px;
  display: block;
  margin-left: 55%;
  text-align: center;
  text-decoration: none;
  color: white;
  size: 50px;
}
body header .divMenu2 .menu2 li .contact {
  font-family: "Open Sans SemiBold", serif;
  position: absolute;
  top: 90px;
  display: block;
  margin-left: 63%;
  text-align: center;
  text-decoration: none;
  color: white;
  size: 50px;
}
body footer {
  margin-top: 400px;
  width: auto;
  padding: 40px 0;
  background-color: #4d4d4d;
  color: #fff;
}
body footer .social {
  text-align: center;
  padding-bottom: 25px;
}
body footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
body footer .social > a:hover {
  opacity: 0.9;
}
body footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
